In [2]:
import pandas as pd
import yfinance as yf
from functions import *

In [14]:
df_aapl = pd.read_csv('data/AAPL_historical_data.csv')
df_amzn = pd.read_csv('data/AMZN_historical_data.csv')
df_msft = pd.read_csv('data/MSFT_historical_data.csv')
df_spy = pd.read_csv('data/SPY_historical_data.csv')
df_vti = pd.read_csv('data/VTI_historical_data.csv')
df_tlt = pd.read_csv('data/TLT_historical_data.csv')
df_gld = pd.read_csv('data/GLD_historical_data.csv')
df_btc = pd.read_csv('data/BTC-USD_historical_data.csv')
df_baba = pd.read_csv('data/BABA_historical_data.csv')
df_eem = pd.read_csv('data/EEM_historical_data.csv')
df_shy = pd.read_csv('data/SHY_historical_data.csv')
df_uso = pd.read_csv('data/USO_historical_data.csv')
df_eth = pd.read_csv('data/ETH-USD_historical_data.csv')
df_bsv = pd.read_csv('data/BSV_historical_data.csv')

In [4]:
df_aapl.duplicated().sum()

0

In [5]:
df_amzn.duplicated().sum()

0

In [6]:
df_msft.duplicated().sum()

0

In [7]:
df_spy.duplicated().sum()

0

In [8]:
df_vti.duplicated().sum()

0

In [9]:
df_tlt.duplicated().sum()

0

In [10]:
df_gld.duplicated().sum()

0

In [11]:
df_btc.duplicated().sum()

0

In [12]:
df = pd.concat([df_aapl, df_amzn, df_msft, df_spy, df_vti, df_tlt, df_gld, df_btc], axis=0)

df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-14,144.309998,144.520004,138.190002,138.380005,136.863556,88598000
2022-10-17,141.070007,142.899994,140.270004,142.410004,140.849442,85250900
2022-10-18,145.490005,146.699997,140.610001,143.750000,142.174728,99136600
2022-10-19,141.690002,144.949997,141.500000,143.860001,142.283524,61758300
2022-10-20,143.020004,145.889999,142.649994,143.389999,141.818649,64522000
...,...,...,...,...,...,...
2024-10-09,62131.726562,62508.835938,60314.613281,60582.101562,60582.101562,27670982363
2024-10-10,60581.929688,61236.722656,58895.207031,60274.500000,60274.500000,30452813570
2024-10-11,60275.460938,63400.871094,60046.125000,62445.089844,62445.089844,30327141594
2024-10-12,62444.617188,63448.785156,62443.269531,63193.023438,63193.023438,16744110886
2024-10-13,63192.945312,63272.652344,62035.636719,62851.375000,62851.375000,18177529690

In [13]:
df.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [15]:
df_aapl.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,144.309998,144.520004,138.190002,138.380005,136.863571,88598000
1,2022-10-17,141.070007,142.899994,140.270004,142.410004,140.849380,85250900
2,2022-10-18,145.490005,146.699997,140.610001,143.750000,142.174713,99136600

In [16]:
df_amzn.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,114.099998,114.959999,106.599998,106.900002,106.900002,67737300
1,2022-10-17,110.110001,114.190002,110.089996,113.790001,113.790001,62782000
2,2022-10-18,119.059998,119.519997,114.790001,116.360001,116.360001,65607400

In [17]:
df_msft.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,235.539993,237.240005,228.339996,228.559998,224.686539,30198600
1,2022-10-17,235.820007,238.960007,235.139999,237.529999,233.504547,28142300
2,2022-10-18,243.240005,243.929993,235.369995,238.500000,234.458084,26329600

In [18]:
df_spy.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,368.549988,370.260010,356.959991,357.630005,347.389771,123737000
1,2022-10-17,364.010010,367.980011,357.279999,366.820007,356.316650,93168200
2,2022-10-18,375.130005,375.450012,367.519989,371.130005,360.503174,97162900

In [19]:
df_vti.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,185.089996,185.990005,179.139999,179.419998,173.995087,3798800
1,2022-10-17,182.759995,184.809998,182.580002,184.210007,178.640259,4025800
2,2022-10-18,188.139999,188.699997,184.710007,186.460007,180.822235,3906800

In [20]:
df_tlt.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,100.190002,100.190002,98.250000,98.570000,91.818855,18728200
1,2022-10-17,99.290001,99.660004,97.940002,98.089996,91.371735,18969900
2,2022-10-18,97.949997,98.459999,96.870003,98.320000,91.585983,16931500

In [21]:
df_gld.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,154.020004,154.199997,152.720001,152.979996,152.979996,5471900
1,2022-10-17,154.919998,155.330002,153.320007,153.419998,153.419998,4348000
2,2022-10-18,154.080002,154.240005,153.240005,153.750000,153.750000,4528400

In [22]:
df_btc.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,19382.533203,19889.146484,19115.408203,19185.656250,19185.656250,38452356727
1,2022-10-15,19185.437500,19212.541016,19019.250000,19067.634766,19067.634766,16192235532
2,2022-10-16,19068.914062,19389.603516,19068.914062,19268.093750,19268.093750,17988916650


df_baba = pd.read_csv('data/BABA_historical_data.csv')
df_eem = pd.read_csv('data/EEM_historical_data.csv')
df_shy = pd.read_csv('data/SHY_historical_data.csv')
df_uso = pd.read_csv('data/USO_historical_data.csv')
df_eth = pd.read_csv('data/ETH-USD_historical_data.csv')
df_bsv = pd.read_csv('data/BSV_historical_data.csv')

In [23]:
df_baba.head(3)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2022-10-14  76.050003  76.139999  72.779999  73.019997  70.518814  13675300
1  2022-10-17  75.150002  77.870003  75.110001  76.769997  74.140366  14487400
2  2022-10-18  78.010002  78.639999  75.059998  76.339996  73.725090  14970600

In [24]:
df_eem.head(3)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2022-10-14  34.950001  34.959999  34.180000  34.209999  32.588890  33384600
1  2022-10-17  34.910000  35.270000  34.910000  35.150002  33.484344  51122100
2  2022-10-18  35.490002  35.570000  34.900002  35.160000  33.493874  33911100

In [25]:
df_shy.head(3)

         Date       Open       High        Low      Close  Adj Close   Volume
0  2022-10-14  80.970001  80.989998  80.820000  80.839996  75.739861  5506000
1  2022-10-17  80.980003  80.989998  80.919998  80.930000  75.824181  4013800
2  2022-10-18  81.010002  81.019997  80.919998  80.970001  75.861656  7012000

In [26]:
df_uso.head(3)

         Date       Open       High        Low      Close  Adj Close   Volume
0  2022-10-14  71.400002  71.720001  69.750000  70.169998  70.169998  2518900
1  2022-10-17  71.169998  71.480003  69.779999  70.129997  70.129997  3255400
2  2022-10-18  69.360001  69.779999  67.849998  68.699997  68.699997  3291200

In [27]:
df_eth.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-14,1288.048706,1339.744751,1285.378296,1297.422119,1297.422119,13113767755
1,2022-10-15,1297.305908,1300.745972,1268.468506,1274.871704,1274.871704,6798512624
2,2022-10-16,1275.005493,1312.634521,1275.005493,1306.296631,1306.296631,7491625206

In [28]:
df_bsv.head(3)

         Date       Open       High        Low      Close  Adj Close   Volume
0  2022-10-14  74.580002  74.599998  74.279999  74.320000  70.391594  5242300
1  2022-10-17  74.470001  74.570000  74.400002  74.400002  70.467361  6324200
2  2022-10-18  74.470001  74.580002  74.389999  74.489998  70.552589  5549200